<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>
<listener class-name="AcademyE2E.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="AcademyE2E.HomePage"/>
      <class name="AcademyE2E.ValidateNavigation"/>
      <class name="AcademyE2E.Validatetitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
